:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;

}


/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* белый #FFFFFF */
/* акцент  #2196F3 */
/* rgba(255, 255, 255, 0.6) */
/* вторичный цвет фона #F5F4FA */
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
.list {
    list-style: none;
}
.logo {
    color: var(--title-text-color);
}
.web {
    color: var(--accent-color);
}
/* site nav */
.site-nav .link {
    color: var(--title-text-color);

}
.site-nav .link.current{
    color: var(--accent-color);
}
.call .link {
    color: var(--primary-text-color);
}

.call .link:hover,
.call .link:focus {
    color: var(--accent-color);
}
/* Hero */
.hero {
    background-color: #2F303A;
}
.hero-title {
    color: var(--primary-white-color);
}
/* section */
.section-title {
  color: var(--title-text-color); 
}
/* feautere */
.feautere-list .title {
    color: var(--title-text-color);
}
/* button */
.hero-btn {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* Footer */
.footer {
    background-color: #2F303A ;
}

.logo-footer {
    color: var(--primary-white-color);
}
.adress {
    color: var(--primary-white-color);
}
.adress:hover,
.adress:focus {
    color: var(--accent-color);
}
.footer-list .link {
    color: rgba(255, 255, 255, 0.6);;
}
.footer-list .link:hover,
.footer-list .link:focus {
    color: var(--accent-color);
}

/* Portfolio */

.filter .btn {
    color: var(--title-text-color);
    cursor: pointer;
    background-color: #F5F4FA; ;
}
.filter .btn:hover,
.filter .btn:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.project .title {
    color: var(--title-text-color);
}

